.imgBanner{
    width: 70%;
}

.textColor{
    width: 80%;
    color: black;
}

.p-carousel-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px !important;
}

@media only screen and (max-width: 368px) {
  .responsiveCarousel {
    width: 570px;
  }
}
