<div *ngIf="showSuccessMessage" class="success-banner">Form submitted successfully!</div>
<div *ngIf="showErrorMessage" class="error-banner">Error submitting form. Please try again.</div>

<h3>Aggiungi una news</h3>
<div class="dashboard-form-container">
<form [formGroup]="newsForm" (ngSubmit)="submitForm()">
    <label for="cate_id">Cate ID:</label>
    <input type="text" id="cate_id" name="cate_id" formControlName="cate_id" required>
  
    <label for="city_id">City ID:</label>
    <input type="text" id="city_id" name="city_id" formControlName="city_id" required>
  
    <label for="sub_cate_id">Sub Cate ID:</label>
    <input type="text" id="sub_cate_id" name="sub_cate_id" formControlName="sub_cate_id" required>
  
    <label for="author_id">Author ID:</label>
    <input type="text" id="author_id" name="author_id" formControlName="author_id" required>
  
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" formControlName="title" required>
  
    <label for="url_slugs">URL Slugs:</label>
    <input type="text" id="url_slugs" name="url_slugs" formControlName="url_slugs" required>
  
    <label for="cover">Cover:</label>
    <input type="text" id="cover" name="cover" formControlName="cover" required>
  
    <label for="video_url">Video URL:</label>
    <input type="text" id="video_url" name="video_url" formControlName="video_url" required>
  
    <label for="content">Content:</label>
    <input type="text" id="content" name="content" formControlName="content" required>
  
    <label for="short_descriptions">Short Descriptions:</label>
    <input type="text" id="short_descriptions" name="short_descriptions" formControlName="short_descriptions" required>
  
    <label for="likes">Likes:</label>
    <input type="text" id="likes" name="likes" formControlName="likes" required>
  
    <label for="comments">Comments:</label>
    <input type="text" id="comments" name="comments" formControlName="comments" required>
  
    <label for="share_content">Share Content:</label>
    <input type="text" id="share_content" name="share_content" formControlName="share_content" required>
  
    <label for="translations">Translations:</label>
    <input type="text" id="translations" name="translations" formControlName="translations" required>
  
    <label for="seo_tags">SEO Tags:</label>
    <input type="text" id="seo_tags" name="seo_tags" formControlName="seo_tags" required>
  
    <label for="status">Status:</label>
    <input type="text" id="status" name="status" formControlName="status" required>
  
    <label for="coordinates">Coordinates:</label>
    <input type="text" id="coordinates" name="coordinates" formControlName="coordinates" required>
  
    <label for="live_url">Live URL:</label>
    <input type="text" id="live_url" name="live_url" formControlName="live_url" required>
  
    <label for="main_characters">Main Characters:</label>
    <input type="text" id="main_characters" name="main_characters" formControlName="main_characters" required>
  
    <div class="flexButton">
      <button type="submit">Invia</button>
      <button class="buttonNews" [routerLink]="['/News']">Back to News</button>
    </div>

  </form>
  </div>