form{
    display: flex;
    flex-direction: column;
}

button{
    width: 50%;
}

.success-banner {
    background-color: #4CAF50; 
    color: white;
    padding: 10px;
    text-align: center;
 }
 
 .error-banner {
    background-color: #f44336;
    color: white;
    padding: 10px;
    text-align: center;
 }
 