.widget-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.widget {
  width: 325px;
  height: 175px;
  color: #fff;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 5px 5px 5px #939393;
  display: flex;
  align-items: center;
  padding: 10px;
}

.widget.green {
  background-color: rgb(4, 67, 66);
}

.widget.yellow {
  background-color: rgb(237, 158, 32);
}

.widget.red {
  background-color: rgb(126, 5, 5);
}

.widget.blue {
  background-color: rgb(105, 32, 251);
}

@media only screen and (max-width: 1600px) {
  .widget {
    width: 300px;
  }
}

@media only screen and (max-width: 1500px) {
  .widget {
    width: 275px;
  }
}

@media only screen and (max-width: 1400px) {
  .widget {
    width: 250px;
  }
}

@media only screen and (max-width: 1200px) {
  .widget {
    width: 225px;
  }
}

.widget .icon {
  width: 100px;
  font-size: 60px;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  .widget .icon {
    font-size: 45px;
  }
}

.widget .value {
  text-align: center;
  width: 175px;
}

.widget .value .top {
  font-size: 30px;
}

@media only screen and (max-width: 1200px) {
  .widget .value .top {
    font-size: 26px;
  }
}

.widget .value .bottom {
  font-size: 20px;
  margin-top: 10px;
}

@media only screen and (max-width: 1200px) {
  .widget .value .bottom {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1200px) {
  .widget-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .widget {
    width: 30%;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .widget-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .widget {
    width: 80%;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 320px) {
  .widget-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .widget {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 1600px) {
  .middle-section {
    width: 1360px;
  }
}

@media only screen and (max-width: 1500px) {
  .middle-section {
    width: 1300px;
  }
}

@media only screen and (max-width: 1400px) {
  .middle-section {
    width: 1150px;
  }
}

@media only screen and (max-width: 1200px) {
  .middle-section {
    width: 1000px;
  }
}

@media only screen and (max-width: 768px) {
  .middle-section {
    width: 550px;
  }
}

.middle-section .widget {
  height: 350px;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 5px 5px 5px #939393;
}

.middle-section .widget.center {
  width: 1250px;
  margin-top: 20px;
  height: 300px;
}

@media only screen and (max-width: 1600px) {
  .middle-section .widget.center {
    width: 1000px;
  }
}

@media only screen and (max-width: 1500px) {
  .middle-section .widget.center {
    width: 800px;
  }
}

@media only screen and (max-width: 1400px) {
  .middle-section .widget.center {
    width: 1000px;
  }
}

@media only screen and (max-width: 1200px) {
  .middle-section .widget.center {
    width: 800px;
  }
}

@media only screen and (max-width: 767px) {
  .middle-section .widget.center {
    width: 400px;
  }
}

.bottom-section {
  display: flex;
  justify-content: space-between;
}

.bottom-section .widget {
  height: 200px;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 5px 5px 5px #939393;
}

.bottom-section .widget.center {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;

}

@media only screen and (max-width: 1200px) {
  .bottom-section .widget.center {
    width: 570px;
  }
}

.imgBanner {
  width: 150px;
  height: 100px;
}

.marginChannels{
  margin-top: 20px;
}

@media only screen and (max-width: 1200px) {
  .marginChannels{
    margin-top: 50px;
  }
}


.image-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.image-item {
  width: 33%;
  margin-bottom: 20px;
  display: flex;
}

.image-container {
  width: 100px;
  height: 100px;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.title {
  font-size: 10px;
  margin-left: 10px;
  margin-top: 4px;
  font-weight: bold;
  white-space: nowrap;
}

.additional-details {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.informationNews{
  display: flex;
  flex-direction: column;
}

.like{
  margin-top: 10px;
  margin-left: 10px;
  font-size: 12px;
  margin-right: 15px ;
  color: dodgerblue;
}

.likeMargin{
  margin-right: 8px;
}

.flexDirectionInfo{
  display: flex;
  flex-direction: row;
}

.authorAlign{
  text-align: end;
}

@media only screen and (max-width: 768px) {
  .image-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}