<div class="top-section">
  <h3 class="marginDate">Explore date Dashboard</h3>
    <div class="widget-container">
        <div class="widget green">

          <div class="icon">
            <fa-icon [icon]="faNewspaper"></fa-icon>
          </div>
          <div class="value">
            <div class="top">{{ newsCount }}</div>
            <div class="bottom">News</div>
          </div>
        </div>
        <div class="widget yellow">
          <div class="icon">
            <fa-icon [icon]="faBandage"></fa-icon>
          </div>
          <div class="value">
            <div class="top">{{ bannersCount }}</div>
            <div class="bottom">Banners</div>
          </div>
        </div>
      <div class="widget red">
          <div class="icon">
            <fa-icon [icon]="faList"></fa-icon>
          </div>
          <div class="value">
            <div class="top">{{categoriesCount}}</div>
            <div class="bottom">Categories</div>
          </div>
        </div>
          <div class="widget blue">
          <div class="icon">
            <fa-icon [icon]="faCity"></fa-icon>
          </div>
          <div class="value">
            <div class="top">{{citiesCount}}</div>
            <div class="bottom">Cities</div>
          </div>
        </div>
      </div>
</div>
<h3 class="marginChannels">Explore Channels</h3>
<div class="middle-section">
    <div class="widget center">
      <app-carousel></app-carousel>
  </div>
<h3 class="marginChannels">Explore News</h3>
      <div class="image-list">
        <div class="image-item" *ngFor="let item of news">
          <div class="image-container">
            <img [src]="item.cover" alt="Image">
          </div>
          <div class="informationNews">
            <div class="title textBlack">{{ item.title }}</div>
            <div class="flexDirectionInfo">
              <div class="like textBlack"><fa-icon class="likeMargin" [icon]="faThumbsUp"></fa-icon>{{ item.likes }}</div>
              <div class="like textBlack"><fa-icon class="likeMargin" [icon]="faComment"></fa-icon>{{ item.comments }}</div>
            </div>
            <div class="title textBlack">City: {{ item.city_name }}</div>
            <div class="title authorAlign textBlack">Created: {{ item.author_first_name}}</div>
          </div>
        </div>
      </div>
  </div>
